body {
    background: rgb(140, 170, 199);

  }
  p {
    color: rgb(236, 235, 124);
    font-size: x-large;
  }
  h1 {
    font-weight: bold;
  }
  .h2{
    border-radius: 10%;
    border-color: rgb(208, 208, 230);
    border-bottom: blue;
  }
  .A{
    font-style: italic;
    font-size: larger;
    border: 10%;
border-color: rgb(6, 6, 8);  }
  .B{
    color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
  }
  .C{
    color: rgb(8, 90, 42);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    
  }